@import url(https://fonts.googleapis.com/css?family=Patua+One);

@font-face {
    font-family: 'Patua One', cursive;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.googleapis.com/css?family=Patua+One) format('woff');
}

body {
    //font-family: "Source Sans Pro", sans-serif;
    font-family: 'Patua One', cursive;
}
