body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.nav-item {
    list-style: none !important;
}

.hand{
    height:auto;
    overflow: auto;
}

.interface{
    height:auto;
    overflow: auto;
    margin: 25px 0px;
    background: transparent;
    background: rgba(0,0,0,0.1);
    border-radius: 5px;
    padding: 10px;
}

.card{
    display: inline-block;
    height: 185px;
    width: 132px;
    float: left;
}

.mastfoot {
    color: rgba(255, 255, 255, .5);
    position: absolute;
    margin: 0 auto;
    left: 0;
    top: 94%;
    @include media-breakpoint-down(md) {
        bottom: 0%;
    }

    @include media-breakpoint-down(sm) {
        display: none;
    }

    @media screen and (max-width: 767px) and (orientation: landscape) {
        display: none;
    }
}
