.jacktable {
    position: fixed; 
    top: 0; 
    left: 0;
    min-width: 100%;
    min-height: 100%;
    text-align: center !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: content-box;
    color: #fff;
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
    padding-top: 5.8em;
    z-index: -1;

    section {
        height: 100vmin;
        .wrap-bj {
            margin-top: 5%;//28em
            background-color: #00763a;
            @include borderRadius(5px);
            padding: 5em;
            @include media-breakpoint-down(lg) {
                padding: 0.5em 0 2em;
                margin-bottom: 4em;
                @include borderRadius(20px);
            }
        }
        hr {
            background-color: white;
            opacity: 0.3;
        }
        @include media-breakpoint-down(lg) {
            //padding-bottom: 5%;
        }
    }
    @include media-breakpoint-down(xl) {
        position: absolute;
        padding-top: 5em;
        overflow: visible;
        overflow-y: scroll;
        height: 145vmin;
        margin: 0 auto 0%;
    }
}

.cardwrap {
    display: inline-block;
}
